@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Krona+One&family=Montserrat:ital@0;1&display=swap');

html,
body {
    font-family: "Montserrat", system-ui;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

body {
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #222831;
    color: white;
    padding: 10px 15px;
    /* Padding para alinhamento */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.cabecalho {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    padding: 20px 15px;
    /* Padding para alinhamento */
    box-sizing: border-box;
}

.imagem {
    width: 100px;
    position: absolute;
    left: 15px;
}

.titulo {
    text-align: center;
    margin: 0;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #31363F;
    padding: 10px 15px;
    /* Padding para alinhamento */
    width: 100%;
    box-sizing: border-box;
}

nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
}

.container {
    flex: 1;
    /* Faz o container ocupar o espaço restante */
    margin: 20px 15px;
    /* Margem para alinhamento */
    box-sizing: border-box;
}

form {
    margin-bottom: 20px;
}

.login-container,
.cadastro-container {
    max-width: 400px;
    margin: 50px auto;
    background: white;
    padding: 20px 15px;
    /* Padding para alinhamento */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

button {
    padding: 10px 15px;
    background-color: #19376D;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 10px;
}

button:hover {
    background-color: #19376D;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table,
th,
td {
    border: 1px solid #ddd;
}

th,
td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.welcome-container {
    text-align: center;
    padding: 50px;
    background-color: #EEEEEE;
    margin: 70px auto;
    /* Margem para alinhamento */
    border-radius: 8px;
    box-sizing: border-box;
}

.welcome-container h2 {
    margin-bottom: 20px;
}

.welcome-container p {
    margin-bottom: 30px;
}

.welcome-container button {
    padding: 15px 25px;
    background-color: #19376D;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.welcome-container button:hover {
    background-color: #76ABAE;
}

.rodape {
    background-color: #31363F;
    color: #fff;
    text-align: center;
    padding: 10px 15px;
    /* Padding para alinhamento */
    font-size: 14px;
    font-weight: 400;
    width: 100%;
    box-sizing: border-box;
}

/* Responsividade para Tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .cabecalho {
        flex-direction: column;
        padding: 10px 15px;
    }

    .imagem {
        position: static;
        margin-bottom: 10px;
    }

    .titulo {
        margin-top: 10px;
        font-size: 1.5rem;
    }

    nav {
        flex-direction: column;
        padding: 10px 15px;
    }

    nav a {
        margin: 5px 0;
    }

    .container {
        margin: 15px 15px;
        /* Ajuste para manter alinhamento com header e footer */
    }

    .welcome-container {
        margin: 20px 15px;
        /* Ajuste para manter alinhamento com container */
        padding: 30px;
    }

    .rodape {
        padding: 10px 15px;
    }
}

/* Responsividade para Smartphone */
@media (max-width: 767px) {
    .cabecalho {
        flex-direction: column;
        padding: 10px 15px;
    }

    .imagem {
        position: static;
        margin-bottom: 10px;
        width: 80px;
    }

    .titulo {
        font-size: 1.2rem;
        margin-top: 10px;
    }

    nav {
        flex-direction: column;
        padding: 10px 15px;
    }

    nav a {
        margin: 5px 0;
        font-size: 0.9rem;
    }

    .container {
        margin: 10px 15px;
        /* Ajuste para manter alinhamento com header e footer */
    }

    .welcome-container {
        margin: 10px 15px;
        /* Ajuste para manter alinhamento com container */
        padding: 20px;
    }

    .rodape {
        padding: 10px 15px;
    }
}